.header{
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 80px;
  background-color: black;
  justify-content: space-between;
}

.header-middle-section{
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-logo{
 height: 220px;
 margin-top: -63px;
}

.header-side-sections{
  display: flex;
  justify-content: center;
  width: 200px;
  flex-shrink: 0; 
}

.logo-picture{
height: 80px;
}